.calc-background {
  background-color: #0a385c;
  padding-top: 200px;
  height: 100vh;
}

.calc-container {
  width: 340px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.25);

  box-shadow: 0 8px 32px black;
}

.calc-display {
  height: 80px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin-bottom: 20px;

  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;

  overflow-x: auto;
}

.calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

button {
  padding: 18px;
  border: none;
  border-radius: 14px;
  font-size: 18px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);

  transition: 0.25s ease;
}

.calc-back-btn {
  position: absolute;
  top: 120px;
  left: 12px;
}

button:hover {
  background: rgb(255 255 255 / 41%);
  transform: translateY(-3px);
}

button:active {
  transform: scale(0.95);
}

.equal {
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: white;
  font-weight: bold;
}

.C-button {
  background: rgba(255, 72, 72, 0.7);
}

.zero {
  grid-column: span 2;
}
