.calendar-background {
  background-color: #0a385c;
  height: 100vh;
}

.calendar-container {
  padding-top: 20%;
}

.calendar {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: fit-content;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.15);
}
