/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL THEME */
body {
  background-color: #0099ad2b;
  color: black;
  font-family: "Inter", sans-serif;
  text-align: center;
}

/* Remove button styles */
button {
  font-family: inherit;
  cursor: pointer;
  margin: 0 auto;
}

.btn {
  background-color: #0a385c;
  border-radius: 7px;
  font-size: 15px;
}

/* ****************************************************************************** */
