/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL THEME */
body {
  background-color: #0f0f0f;
  color: white;
  font-family: "Inter", sans-serif;
}

/* Remove button styles */
button {
  font-family: inherit;
  cursor: pointer;
}
