header {
  background-color: #0a385c;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav {
  color: white;
  font-size: 22px;
}

.logo {
  border: 1px solid white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: #079d7c;
  font-weight: bold;
}
