.mindly-heading {
  font-size: 4vw;
  padding: 90px 0;
  text-shadow: 2px 2px 4px #0000003b;
}

.mindly {
  color: #0a385c;
  font-family: cursive;
}

.tools {
  color: #079d7c;
  font-style: italic;
  font-family: fangsong;
}

.tool-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 85px;
  max-width: 60%;
  margin: 0 auto;
  padding-bottom: 90px;
}

@media (max-width: 1023px) {
  .tool-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 767px) {
  .tool-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ********************************* */

.tilted-card-figure {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tilted-card-mobile-alert {
  position: absolute;
  top: 1rem;
  text-align: center;
  font-size: 0.875rem;
  display: none;
}

@media (max-width: 640px) {
  .tilted-card-mobile-alert {
    display: block;
  }
  .tilted-card-caption {
    display: none;
  }
}

.tilted-card-inner {
  position: relative;
  transform-style: preserve-3d;
}

.tilted-card-img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 15px;
  will-change: transform;
  transform: translateZ(0);
}

.tilted-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  will-change: transform;
  transform: translateZ(30px);
}

.tilted-card-caption {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
  background-color: #fff;
  padding: 4px 10px;
  font-size: 10px;
  color: #2d2d2d;
  opacity: 0;
  z-index: 3;
}
